<html xmlns="http://www.w3.org/1999/xhtml" ng-app="GameSquad">
<head>
    <title>GameSquad</title>
    @*<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />*@
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!--  theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/slate/bootstrap.min.css">
    <base href="/" />
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body ng-controller="AccountController as account">
    <!-- NAv Bar -->
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navLinks">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" type="image" src="\assets\devUp.png">GAME<strong> SQUAD</strong></a>
        </div><!--class="active"-->
        <div id="navLinks" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a ng-show="account.isLoggedIn()" href="/dashboard"><strong>Dashboard</strong></a></li>
                <li><a ng-show="account.isLoggedIn()" href="/friends"><strong>Friends</strong></a></li>
                <li><a ng-show="account.isLoggedIn()" href="/updates">Player <strong> Feed</strong></a></li>
                <li><a ng-show="account.isLoggedIn()" href="/myTeam">My <strong>Team</strong></a></li>
                <li><a ng-show="account.isLoggedIn()" href="/team">Find<strong> Teams</strong></a></li>
                <li><a ng-show="account.isLoggedIn()" href="/findUsers">Find <strong> Players</strong></a></li>
                <li><a href="/register" ng-show="!account.isLoggedIn()">Sign<strong>Up</strong></a></li>
                <li><a href="" ng-click="account.loginModal()" ng-show="!account.isLoggedIn()">Sign<strong>In</strong></a> </li>
                @*<li><a href="#" ng-show="account.isLoggedIn()" ng-click="account.logout()">SignOut</a></li>*@

            </ul>
            <ul ng-show="account.isLoggedIn()" class="nav navbar-nav pull-right">
                <li class="dropdown">
                    <a href="/" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-user"></span> <strong>{{account.getUserName()}}</strong><strong class="caret"></strong></a>
                    <ul class="dropdown-menu">
                        @*<li ng-model="myTeam in team | filter{}"><a ng-href="show(myTeam, myTeam.id)" ng-show="account.isLoggedIn()">My Team</a></li>*@
                        <li><a href="/myTeam" ng-show="account.isLoggedIn()">My Team</a></li>
                        <li><a href="#" ng-show="account.isLoggedIn()" ng-click="account.logout()">SignOut</a></li>
                    </ul>
            </ul>

        </div>
    </nav>
    <ui-view></ui-view>

    <!--SignalR chat test files-->
    
    <div class="chatsection">

        <div class="chat-window " ng-show="account.isLoggedIn() && account.openPrivateChat">


            <div class="panel panel-primary chat-panel">
                <div class="panel-heading" data-toggle="collapse" href="#collapse3">
                    <h3 class="panel-title">Private Chat with {{account.sendToUser}}</h3>
                </div>
                <div id="collapse3" class="panel-collapse collapse in">
                    <div class="panel-body chat-panel-body">
                        <div class="chat-item-container" scroll-glue>

                            <div class="list-group-item list-group-item-success">This is the start of your conversation with {{account.sendToUser}}!</div>

                            <div class="list-group-item" ng-repeat="msg in account.privateMessagesDispalyed" ng-class="{'list-group-item list-group-item-info': account.getUserName() === msg.username}"><b>{{msg.username}}</b>: {{msg.message}}</div>

                        </div>
                    </div>
                    <div class="panel-footer">

                        <form ng-submit="account.sendPrivateMessage()" class="form-inline">
                            <div class="form-group">
                                <input ng-model="account.newPrivateMessage" class="form-control" type="text" />
                                <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Send</button>

                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
        <div class="chat-window " ng-show="account.isLoggedIn()">


            <div class="panel panel-primary chat-panel">
                <div class="panel-heading" data-toggle="collapse" href="#collapse2">
                    <h3 class="panel-title">Global Chat</h3>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="panel-body chat-panel-body">
                        <div class="chat-item-container" scroll-glue>

                            <div class="list-group-item list-group-item-success">Hello! Welcome to Gamesquad!</div>

                            <div class="list-group-item" ng-repeat="msg in account.messages" ng-class="{'list-group-item list-group-item-info': account.getUserName() === msg.username}"><b>{{msg.username}}</b>: {{msg.message}}</div>

                        </div>
                    </div>
                    <div class="panel-footer">

                        <form ng-submit="account.sendMessage()" class="form-inline">
                            <div class="form-group">
                                <input ng-model="account.newMessage" class="form-control" type="text" />
                                <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Send</button>
                                
                            </div>

                        </form>
                       
                    </div>
                </div>
            </div>
        </div>
        
        <div class="friendslist" ng-show="account.isLoggedIn()">
            <div class="panel panel-primary chat-panel">
                <div class="panel-heading" data-toggle="collapse" href="#collapse1">
                    <h3 class="panel-title">
                        Connected Users
                        
                    </h3>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body" style="background-image:none; background-color: black">
                        <div style="overflow-y: scroll; max-height:400px;">
                            <ul class="list-group">


                                <li class="list-group-item" ng-click="account.setUserToMessage(user.Username)" ng-repeat="user in account.connectedUsers" ng-class="{'list-group-item-success': account.newMessageAlertUser == user.Username,'list-group-item-info': account.sendToUser == user.Username}">{{user.Username}}</li>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <!-- Library Files -->
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-resource/angular-resource.js"></script>
    <script src="~/lib/angular-animate/angular-animate.js"></script>
    <script src="~/lib/angular-touch/angular-touch.js"></script>
    <script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="~/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="//api.filepicker.io/v2/filepicker.js"></script>
    <script src="~/lib/angular-filepicker/dist/angular_filepicker.js"></script>
    <!-- App js files-->
    <script src="~/ngapp/app.js"></script>
    <!-- controllers-->
    <script src="~/ngapp/controllers/controllers.js"></script>
    <script src="~/ngApp/controllers/profileController.js"></script>
    <script src="~/ngApp/controllers/teamController.js"></script>
    <script src="~/ngApp/controllers/userSearchController.js"></script>
    <script src="~/ngApp/controllers/userDashboardController.js"></script>
    <script src="~/ngApp/controllers/postCreateController.js"></script>
    <script src="~/ngApp/controllers/postController.js"></script>
    <script src="~/ngApp/controllers/userController.js"></script>
    <script src="~/ngApp/controllers/teamInfoController.js"></script>
    <!--services-->
    <script src="~/ngapp/services/services.js"></script>
    <script src="~/ngApp/services/teamService.js"></script>
    <script src="~/ngApp/services/userSearchService.js"></script>
    <script src="~/ngApp/services/userDashboardService.js"></script>
    <script src="~/ngApp/services/postService.js"></script>
    <script src="~/ngApp/services/userService.js"></script>
    <!-- Security -->
    <script src="~/ngapp/controllers/accountcontroller.js"></script>
    <script src="~/ngapp/services/accountservice.js"></script>
    <!----link-->
    @*<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

    <!-- SignalR files -->
    <script src="~/lib/signalr/jquery.signalR.min.js"></script>
    <script src="signalr/hubs"></script>
    @*<script src="~/lib/angularjs-scroll-glue/src/scrollglue.js"></script>*@
</body>
</html>