<html xmlns="http://www.w3.org/1999/xhtml" ng-app="GameSquad">
<head>
    <title>GameSquad</title>
    @*<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />*@
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <!--  theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/cyborg/bootstrap.min.css">
    <base href="/" />
    <!---google Fonts-->
    <link href="https://fonts.googleapis.com/css?family=Audiowide|Orbitron" rel="stylesheet">

    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/chat.css" rel="stylesheet" />
</head>
<body ng-controller="AccountController as account">
    <!----FB script-->
    <div id="fb-root"></div>
    <script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <!-- NAv Bar -->
    <nav class="navbar navbar-default">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navLinks">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" type="image" src="\assets\devUp.png">GAME<strong> SQUAD</strong></a>
        </div><!--class="active"-->
        <div id="navLinks" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a ng-show="account.isLoggedIn()" href="/updates">Player <strong> Feed</strong></a></li>
                <li><a ng-show="account.isLoggedIn()" href="/team">Find<strong> Teams</strong></a></li>
                <li><a ng-show="account.isLoggedIn()" href="/findUsers">Find <strong> Players</strong></a></li>
                <li><a ng-show="account.isLoggedIn()" href="/inbox"><strong> Inbox</strong><span> {{account.notificationCounter.totalCount}}</span></a></li>
                <li><a href="/register" ng-show="!account.isLoggedIn()">Sign<strong>Up</strong></a></li>
                <li><a href="" ng-click="account.loginModal()" ng-show="!account.isLoggedIn()">Sign<strong>In</strong></a> </li>
            </ul>
            <ul ng-show="account.isLoggedIn()" class="nav navbar-nav pull-right">
                <li class="dropdown">
                    <a href="/" class=""><span class="glyphicon glyphicon-user"></span> <strong>{{account.getUserName()}}</strong><strong class="caret"></strong></a>
                    <ul style="min-width: 100px" class="dropdown-menu">
                        <li><a ng-show="account.isLoggedIn()" href="/dashboard"><strong>Dashboard</strong></a></li>
                        <li><a ng-show="account.isLoggedIn()" href="/friends"><strong>Friends</strong></a></li>
                        <li><a ng-show="account.isLoggedIn()" href="/myTeam">My <strong>Team</strong></a></li>
                        <li><a href="#" ng-show="account.isLoggedIn()" ng-click="account.logout()">SignOut</a></li>
                    </ul>
                 </li>
            </ul>
        </div>
    </nav>
    <div style="padding-bottom:70px"><ui-view></ui-view></div>
    <!--SignalR chat test files-->
    <!--PRIVATE CHAT-->
    <div class="chatsection" ng-controller="ChatController as chat" ng-show="!chat.dupUser">
        <div class="chat-window " ng-show="chat.isLoggedIn() && chat.openPrivateChat">
            <div class="panel panel-warning chat-panel" ng-click="chat.userListAlert.alertStatus = false" ng-class="{'panel-danger': !chat.sendToUser.online }">
                <div class="panel-heading" data-toggle="collapse" href="#collapse3">
                    <h3 class="panel-title">Private Chat with {{chat.sendToUser.username}} <span ng-show="!chat.sendToUser.online" class="text-muted"> (Offline)</span></h3>
                </div>
                <div id="collapse3" class="panel-collapse collapse in">
                    <div class="chat-panel-body">
                        <div class="chat-item-container" schroll-bottom="chat.privateMessagesDispalyed">
                            <div class="list-group-item list-group-item-success" style="margin-bottom: 10px;">This is the start of your conversation with {{chat.sendToUser.username}}!</div>
                            <div class="chat-item" ng-repeat="msg in chat.privateMessagesDispalyed" ng-class="{'chat-item-self': chat.getUserName() === msg.username}">
                                <p>{{msg.message}}</p>
                                <div>{{msg.username}} at {{msg.time}}</div>
                            </div>
                            
                        </div>
                    </div>
                    <div class="panel-footer">
                        <form ng-submit="chat.sendPrivateMessage()" class="form-inline">
                            <div class="form-group">
                                <input ng-model="chat.newPrivateMessage" class="form-control" type="text" ng-disabled="!chat.sendToUser.online" required />
                                <button class="btn btn-primary" ng-disabled="!chat.sendToUser.online" ng-class="{'disabled': !chat.sendToUser.online}" type="submit"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--GLOBAL CHAT-->
        <div class="chat-window " ng-show="chat.isLoggedIn()">
            <div class="panel panel-warning chat-panel">
                <div class="panel-heading" data-toggle="collapse" href="#collapse2">
                    <h3 class="panel-title">Global Chat</h3>
                </div>
                <div id="collapse2" class="panel-collapse collapse">
                    <div class="chat-panel-body">
                        <div class="chat-item-container" schroll-bottom="chat.messages">
                            <div class="list-group-item list-group-item-success" style="margin-bottom: 10px;">Hello! Welcome to Gamesquad!</div>
                            @*<div class="list-group-item"
                                     ng-repeat="msg in chat.messages"
                                     ng-class="{'list-group-item-info': chat.getUserName() === msg.username}">
                                    <b>{{msg.username}}</b>: {{msg.message}}
                                </div>*@
                            <div class="chat-item" ng-repeat="msg in chat.messages" ng-class="{'chat-item-self': chat.getUserName() === msg.username}">
                                <p>{{msg.message}}</p>
                                <div>{{msg.username}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <form ng-submit="chat.sendMessage()" class="form-inline">
                            <div class="form-group">
                                <input ng-model="chat.newMessage" class="form-control" type="text" required />
                                <button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-send" aria-hidden="true"></span> Send</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--FRIENDSLIST-->
        <div class="friendslist" ng-show="chat.isLoggedIn()">
            <div class="panel chat-panel " ng-class="{'panel-success': chat.userListAlert.alertStatus, 'panel-warning': !chat.userListAlert.alertStatus}" ng-click="chat.userListAlert.alertStatus = false">
                <div class="panel-heading" data-toggle="collapse" href="#collapse1">
                    <h3 class="panel-title">
                        Connected Users
                    </h3>
                </div>
                <div id="collapse1" class="panel-collapse collapse">
                    <div class="panel-body" style="background-image:none; background-color: black; ">
                        <div class="chat-item-container">
                            <ul class="list-group">

                                <li class="list-group-item"
                                    ng-click="chat.setUserToMessage(user)"
                                    ng-repeat="user in chat.privateMessageArray"
                                    ng-if="user.online"
                                    ng-class="chat.userListClass(user.username)">

                                    <div>{{user.username}}</div>

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Library Files -->
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-resource/angular-resource.js"></script>
    <script src="~/lib/angular-animate/angular-animate.js"></script>
    <script src="~/lib/angular-touch/angular-touch.js"></script>
    <script src="~/lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="~/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="//api.filepicker.io/v2/filepicker.js"></script>
    <script src="~/lib/angular-filepicker/dist/angular_filepicker.js"></script>
    <script src="~/lib/List_Country_State-master/countries.js"></script>
    <!-- App js files-->
    <script src="~/ngapp/app.js"></script>
    <!-- controllers-->
    <script src="~/ngapp/controllers/controllers.js"></script>
    <script src="~/ngApp/controllers/teamController.js"></script>
    <script src="~/ngApp/controllers/postCreateController.js"></script>
    <script src="~/ngApp/controllers/postController.js"></script>
    <script src="~/ngApp/controllers/chatController.js"></script>
    <script src="~/ngApp/controllers/userController.js"></script>
    <script src="~/ngApp/controllers/teamInfoController.js"></script>
    <script src="~/ngApp/controllers/friendController.js"></script>
    <script src="~/ngApp/controllers/messageController.js"></script>
    <script src="~/ngApp/controllers/messageInfoController.js"></script>
    <script src="~/ngApp/controllers/messageCreateController.js"></script>
    <script src="~/ngApp/controllers/messageDeleteController.js"></script>
    <!--services-->
    <script src="~/ngapp/services/services.js"></script>
    <script src="~/ngApp/services/teamService.js"></script>
    <script src="~/ngApp/controllers/userDashboardController.js"></script>
    <script src="~/ngApp/services/postService.js"></script>
    <script src="~/ngApp/services/userService.js"></script>
    <script src="~/ngApp/services/friendService.js"></script>
    <script src="~/ngApp/services/friendRequestService.js"></script>
    <script src="~/ngApp/services/messageService.js"></script>
    <script src="~/ngApp/services/userDashboardService.js"></script>
    <!-- Security -->
    <script src="~/ngapp/controllers/accountcontroller.js"></script>
    <script src="~/ngapp/services/accountservice.js"></script>
    <!----link-->
    @*<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <!-- SignalR files -->
    <script src="~/lib/signalr/jquery.signalR.min.js"></script>
    <script src="signalr/hubs"></script>
    @*<script src="~/lib/angularjs-scroll-glue/src/scrollglue.js"></script>*@
</body>
</html>