body {
    font-size:2em;
    
 
}
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dashImg
{
    margin:50px
}
.container
{
    width:100%;
    display:block;
  
    
}
.textHeader1{
    position:center;
    margin-top:50%;
}
.textblock1
{
     border:solid;
     padding:15px;
     width:auto;
     margin:auto;
}

.textblock2
{
     border:solid;
     padding:10px;
    
}
#headImg {
    background-image: url('../images/game squad.png');
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    width: 100%;
    height: 475px;
    z-index: -1;
}
strong
{
    color:#f89406;
}



.panel-body {
    background-image: url('../images/overwatch-logo-hd-pic.jpg');
    backface-visibility: visible;
    background-repeat: no-repeat;
    background-size: cover;
}



.navbar
{
    padding:0;
    margin:0;
}
#top-wrapper
{
    width:800px;
   margin-left:26%

}
.invisible
{
    display: none;
}
IMG.displayed
{
    margin-top:40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#displayed2
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
   
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption {
    z-index: 10 !important;
}

    .carousel-caption p {
        font-size: 20px;
        line-height: 1.4;
    }

@media (min-width: 768px) {
    .carousel-caption {
        z-index: 10 !important;
    }
}


/*Chat window test*/
.chat-window {
    
    
    background-image:none;
    margin-left: 5px;
    margin-right: 5px;
    pointer-events:all;
    width: 375px;
    

    
    
}

.chat-panel {
    margin-bottom: 0px;
    
}

.chat-item-container{
    
    
    overflow-y: auto; 
    overflow-x: hidden;
    max-height:400px;
    
    display: flex;
    flex-direction: column;
}

.chat-item-container::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.chat-item-container::-webkit-scrollbar{
    width: 12px;
	background-color: #F5F5F5;
}

 .chat-item-container::-webkit-scrollbar-thumb {
     border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
    }

.chat-panel-body {
    overflow: hidden;
    background-image: none;
    background-color: black;
}

.friendslist {
    pointer-events:all;
    margin-left: 5px;
    margin-right: 5px;
    background-image:none;
    width: 250px;
    
    
    
}

.chatsection {
    display: flex;
    justify-content: flex-end;
    flex-wrap:wrap-reverse;
    align-items: flex-start;
    position: fixed;
    bottom: 0px;
    right: 15px;
    pointer-events:none;
    z-index: 9999;
}