<!--walkthrough--->
<div class="container">
    <strong><p style="font-size:4em">Welcome To GameSquad!</p></strong>
    <!--Starting out--->
    <div>
        <h2><strong>Getting Started</strong> </h2>
    </div>
    <div class="textblock1">
        <p>
            <strong>Play</strong> Overwatch with people you know, players that play
            the way you like to play, and form <strong>Teams</strong> with competitive players
            at your skill level. <b>No</b> more getting thrown into <strong>ranked</strong> matches
            with random players from level 1-100. <strong>Create</strong> or <strong>join</strong> a team that can
            match your <strong>playstyle</strong>.Lorem ipsum dolor sit amet, habitasse vitae nostra libero blandit consectetuer nam, cum adipiscing sit exercitation vel, integer rutrum euismod et est nulla, nam at nonummy praesent. Id suspendisse bibendum rutrum quisque sit turpis, malesuada libero nec, amet hac, neque id, vitae sollicitudin. Egestas nunc wisi sed hendrerit vel, ac maecenas. Mauris feugiat wisi sodales, non eget ullamcorper sagittis vitae. Cras nec, tincidunt vestibulum. At rutrum suscipit sem. Nibh proin sit venenatis bibendum
        </p>
    </div>
    <br />
    <!--Looking For Other Players--->
    <div>
        <h2> <strong>Searching for Players</strong> </h2>
    </div>
    <div class="textblock1">
        <p>
            <strong>Play</strong> Overwatch with people you know, players that play
            the way you like to play, and form <strong>Teams</strong> with competitive players
            at your skill level. <b>No</b> more getting thrown into <strong>ranked</strong> matches
            with random players from level 1-100. <strong>Create</strong> or <strong>join</strong> a team that can
            match your <strong>playstyle</strong>.
        </p>
    </div>
    <br />
    <!--Joining a Team--->
    <div>
        <h2> <strong>Joining A Team</strong></h2>
    </div>
    <div class="textblock1">
        <p>
            <strong>Play</strong> Overwatch with people you know, players that play
            the way you like to play, and form <strong>Teams</strong> with competitive players
            at your skill level. <b>No</b> more getting thrown into <strong>ranked</strong> matches
            with random players from level 1-100. <strong>Create</strong> or <strong>join</strong> a team that can
            match your <strong>playstyle</strong>.
        </p>
    </div>
    <br />
    <!--Creating A Team--->
    <div>
        <h2><strong>Creating A Team</strong></h2>
    </div>
    <div class="textblock1">
        <p>
            <strong>Play</strong> Overwatch with people you know, players that play
            the way you like to play, and form <strong>Teams</strong> with competitive players
            at your skill level. <b>No</b> more getting thrown into <strong>ranked</strong> matches
            with random players from level 1-100. <strong>Create</strong> or <strong>join</strong> a team that can
            match your <strong>playstyle</strong>.
        </p>
    </div>
    <br />
    <!--Posting to the PLayerFeed--->
    <div>
        <h2><strong>Posting to the PLayerFeed</strong></h2>
    </div>
    <div class="textblock1">
        <p>
            <strong>Play</strong> Overwatch with people you know, players that play
            the way you like to play, and form <strong>Teams</strong> with competitive players
            at your skill level. <b>No</b> more getting thrown into <strong>ranked</strong> matches
            with random players from level 1-100. <strong>Create</strong> or <strong>join</strong> a team that can
            match your <strong>playstyle</strong>.
        </p>
    </div>
    <br />
    <!--Contacting Your Admin--->
    <div>
        <h2><strong>Contacting Your Admin</strong></h2>
    </div>
    <div class="textblock1">
        <p>
            <strong>Play</strong> Overwatch with people you know, players that play
            the way you like to play, and form <strong>Teams</strong> with competitive players
            at your skill level. <b>No</b> more getting thrown into <strong>ranked</strong> matches
            with random players from level 1-100. <strong>Create</strong> or <strong>join</strong> a team that can
            match your <strong>playstyle</strong>.
        </p>
    </div>
    <!----->

</div>