<div class="col-lg-8 col-lg-offset-2">
    <div class="dashImg">
        <img width="800" height="120" src="../../images/dashboardimg.png" />
        <br />
        <br />
        <div style="display:inline" ng-controller="UserDashboardController as profile" class="userName" ng-show="controller.isLoggedIn()">
            <h2> <img style="display:inline" width="80" height="80" ng-src="{{profile.user.profileImage}}" class="img-responsive" /> <!--class="glyphicon glyphicon-user"--> <strong> {{controller.getUserName()}} </strong></h2>
        </div>
        <br />
        
        <form>
            <div class="textblock1">
                <ul class="list-unstyled " ng-controller="UserDashboardController as profile">
                    <li><strong>Bio:</strong> {{profile.user.bio}}</li>
                    <li><strong>Location:</strong> {{profile.user.location}}</li>
                    <li><strong>Play Platform:</strong> {{profile.user.platform}}</li>
                    <li><strong>Play-Style:</strong> Casual</li>
                    <li><strong>Rank:</strong> {{profile.user.rank}}</li>
                </ul>
                <div><a class="glyphicon glyphicon-pencil" href="/profileEdit"></a></div>
            </div>
        </form>
    </div>
</div>