<div class="container-fluid">

        <img class="displayed" width="850" height="220" src="../../images/friendsBanner.png" />

        <form>
            <div class="col-lg-8 col-lg-offset-2">
                <table class="table table-hover table-striped">
                    <tr>
                        <th>UserName</th>
                        <th>Rank</th>
                    </tr>
                    <tr ng-repeat="friend in controller.friends">
                        <td>{{friend.userName}}</td>
                        <td>{{friend.rank}}</td>
                    </tr>
                </table>
            </div>
        </form>

</div>