<!--<div id="headImg">
</div>-->
<div>
    <img src="../../images/GAME SQUAD.png" class="img-responsive" id="landingImg" />
</div>
<div style="margin-bottom:4%" id="mediaLinks" class="">
    <a href="https://www.facebook.com/Team-Game-Squad-1742097259373240/" style="width:50px;">
        <img style="width:50px; height:50px; display:inline; " src="../../images/fblogo.png">
    </a>
    <a href="https://www.instagram.com/teamgamesquad/?hl=en"  style="width:40px;">
        <img style="width:40px; height:40px; display:inline;" src="../../images/instalogo.png">
    </a>
    <a href="https://playoverwatch.com/en-us/"  style="width:50px;">
        <img style="width:50px; height:50px; display:inline;" src="../../images/overwatchicon.png">
    </a>
    <a href="http://us.battle.net/en/"  style="width:50px;">
        <img style="width:40px; height:40px; display:inline;" src="../../images/battlenetlogo.png">
    </a>
</div>
<br />

<div class="container">
    <!----->

    <div class="row">
        <div class="col-lg-6 col-md-offset-1">
            <div class="textHeader1">
                <h2><strong>Team</strong> <b>Up</b> </h2>
            </div>
            <div id="" class="textblock img-rounded">
                <p>
                    <strong>Play</strong> Overwatch with people you know, players that play
                    the way you like to play, and form <strong>Teams</strong> with competitive players
                    at your skill level. <b>No</b> more getting thrown into <strong>ranked</strong> matches
                    with random players from level 1-100. <strong>Create</strong> or <strong>join</strong> a team that can
                    match your <strong>playstyle</strong>.
                </p>
            </div>
            <br />
            <!----->
            <h2><strong>Share</strong> Your <b>Skills</b> </h2>
        </div>
        <div style="margin-top:3%;" class="col-md-5">
            <div class="fb-page" data-href="https://www.facebook.com/Team-Game-Squad-1742097259373240/" data-tabs="timeline" data-width="500px" data-height="300px" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Team-Game-Squad-1742097259373240/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Team-Game-Squad-1742097259373240/">Team Game-Squad</a></blockquote></div>
        </div>
        <div class="col-lg-10 col-lg-offset-1">
            <div id="textblockLg" class="row img-rounded">
                <div id="innerText" class="col-md-5 " style="word-wrap:normal">
                    Share pics and videos of your acheivments, game play, and mad skills.
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    when an unknown printer took a galley of type and scrambled it to make a type
                    specimen book. It has survived not only five centuries, but also the leap into
                    electronic typesetting, remaining essentially unchanged. It was popularised in
                    the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
                    and more recently with desktop publishing software like Aldus PageMaker including
                    versions of Lorem Ipsum.
                </div>
                <div class="col-md-7" style="text-align:right">
                    <iframe class="img-rounded" style="width:100%; height:500px; " src="https://www.youtube.com/embed/HnQMxQkkSOw" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <br />
        <br />
    </div>
    <div id="walkthroughLink" class="col-lg-10 col-lg-offset-1 alert-link"><h2><strong><a href="/about">GameSquad User Walkthrough</a></strong></h2>  </div>
</div>
