<br />
<br />
<div class="container">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="row">
            <div class="panel panel-primary filterable">
                <div class="panel-heading">
                    <h2 class="panel-title">{{controller.messageDetails.subject}}</h2>
                </div>
                <h6><em>From: </em><strong>{{controller.messageDetails.sendingUser}}</strong></h6>
                <h6><em>{{controller.messageDetails.dateSent}}</em></h6>
                <hr />
                <p>{{controller.messageDetails.message}}</p>
            </div>
        </div>
    </div>
</div>
