
<img class="displayed" src="../../images/imageedit_6_2270611338.png" />
<br />
<br />

<div class="container">
    <div class="col-lg-8 col-lg-offset-2">
        <form>
            <table class="table table-hover table-striped">
                <tr>
                    <th>My Teams</th>
                </tr>
                <tr ng-repeat="team in controller.teams">
                    <td><a ng-href="/team/{{team.id}}"><strong>{{team.teamName}}</strong></a></td>
                    <td>{{team.teamMembers}}</td>

                </tr>
            </table>
        </form>
    </div>

</div>