<div class="container">
    <div  class="col-lg-8 col-lg-offset-2">
        <img id="myTeamsBanner" class="img-responsive" src="../../images/imageedit_6_2270611338.png" />
    </div>
    <div class="col-lg-8 col-lg-offset-2">
        <a href="/teamCreate">Create a Team</a>
        <div id="myTeamContainer" class="img-rounded">
            <div id="myTeamTableContainer" class="container img-rounded shadowDark">
                <h2>Teams</h2>

                <form>
                    <table class="table table-hover table-striped img-rounded">
                        <thead class="img-rounded">
                            <tr class="img-rounded">
                                <th class="img-rounded">
                                    Team Name
                                </th>
                            </tr>
                        </thead>
                        <tr class="img-rounded" ng-repeat="team in controller.teams">
                            <td class="img-rounded"><a ng-href="/team/{{team.id}}"><strong>{{team.teamName}}</strong></a></td>
                            <!--<td>{{team.teamMembers}}</td>-->

                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>