
<div style="margin-top:60px" class="col-lg-10 col-md-offset-1">
    <div id="registerContainer" class="container">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-Default">
                <div class="panel-heading">
                    <h1 class="panel-title">Create Post</h1>
                </div>
                <div id="postpanel" class="panel-body">
                    <fieldset>
                        <form ng-submit="controller.savePost()">
                            <div class="form-group">
                                <label>Comment</label>
                                <textarea rows="5" cols="20" type="text" class="form-control" ng-model="controller.postToSave.comment" placeholder="Enter Comment here..."></textarea>
                            </div>
                            <button type="button" ng-click="controller.pickFile()" class="btn btn-warning">Upload Snapshot</button>
                            <img ng-src="{{controller.file.url | fpConvert:{w: 400} }}" alt="{{controller.file.filename}}" />
                            <br />
                            <button style="margin-bottom:10px; margin-top:20px;" type="submit" class="btn btn-info ">Submit</button>
                        </form>
                        <button class="btn btn-default" ng-click="controller.goBack()">Cancle</button>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>



</div>