
   
        <div  id="postpanel" class="img-rounded">
            <form ng-submit="controller.savePost()">

                <div class="form-group">
                    <label>Comment</label>
                    <textarea rows="5" cols="20" type="text" class="form-control" ng-model="controller.postToEdit.comment" placeholder="Enter Comment here..."></textarea>
                </div>
                <button type="button" ng-click="controller.pickFile()" class="btn btn-warning">Upload Snapshot</button>
                <img ng-src="{{controller.file.url | fpConvert:{w: 400} }}" alt="{{controller.file.filename}}" />
                <br />
                <button style="margin-bottom:40px; margin-top:20px;" type="submit" class="btn btn-info ">Submit</button>
                <button class="btn btn-default" ng-click="controller.cancel()">Cancel</button>
            </form>
        </div>
 