<!--<div id="dashboardBannerImg" class="col-lg-8 col-lg-offset-2">
    <img width="600" height="80" src="{{controller.user.bannerImage}}" />
</div>-->

<div id="profileHead" class="col-lg-8 col-lg-offset-2">
    <a href="/findUsers">Back to Players</a>
    <br />
    <img id="profileImg" ng-src="{{controller.user.profileImage}}" class="img-responsive" />
    <h1 style="display:inline; text-transform:capitalize;">{{controller.user.userName}}</h1>
</div>

<div class="col-lg-8 col-lg-offset-2">
    <div id="bioContainer" class="img-rounded">
        <ul id="innerText" class="list-unstyled">
            <li><strong>Bio:</strong> {{controller.user.bio}}</li>
        </ul>
        <ul id="innerText" class="list-unstyled ">
            <li><strong>Location:</strong> {{controller.user.location}}</li>
            <li><strong>Play Platform:</strong> {{controller.user.platform}}</li>
            <li><strong>Play-Style:</strong> {{controller.user.playStyle}}</li>
            <li><strong>Rank:</strong> {{controller.user.rank}}</li>
        </ul>
  </div>
    <br />
        <div class="img-rounded" id="dashBoardPost">
            <div id="postBlock">
                <h1><strong>Posts</strong></h1>
                <!--<h1></h1><a class="glyphicon glyphicon-comment" style="font-size:1.5em; margin:30px; color:orange;" href="/postCreate"></a>-->
                <br />
                <div ng-repeat="post in controller.user.posts" class="list-group">
                    <ul href="#" class="list-group ">
                        <li class="shadow img-rounded" style="background-color:darkgray; padding:3px;">
                            <h3 id="postUserText"><b style="text-transform:capitalize;">{{post.user}}</b></h3>
                        </li>
                        <li id="innerText">{{post.comment}}</li>
                        <li>
                            <img id="postImage" width="650" class="shadow img-responsive img-rounded" ng-src="{{post.item}}" />
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>





