<div id="registerContainer" class="container">
    <br />
    <br />
    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h1 class="panel-title">My Profile</h1>
            </div>
            <div id="profilepanel" class="panel-body">

                <fieldset>
                    <form ng-submit="controller.saveProfile()">
                        <div class="form-group ">
                            <label>Bio</label>
                            <br />
                            <textarea class="text-primary img-rounded" style="background-color:lightyellow" type="text img-rounded" rows="6" cols="35" ng-model="controller.user.bio" placeholder="..."></textarea>
                        </div>
                        <div class="form-group">
                            <label>Location</label>
                            <br />
                            <select class="text-primary img-rounded" style="background-color:lightyellow" ng-model="controller.user.location">
                                <option value="USA">USA</option>
                                <option value="Korea">Korea</option>
                                <option value="UK">UK</option>
                                <option value="China">China</option>
                                <option value="Japan">Japan</option>
                                <option value="Africa">Africa</option>
                                <option value="Vietnam">Vietnam</option>
                                <option value="Mexico">Mexico</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Platform</label>
                            <br />
                            <select class="text-primary img-rounded" style="background-color:lightyellow" ng-model="controller.user.platform" required>
                                <option value="PC">PC</option>
                                <option value="XBOX One">Xbox One</option>
                                <option value="PS4">Playstation 4</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Play-Style</label>
                            <br />
                            <select class="text-primary img-rounded" style="background-color:lightyellow" ng-model="controller.user.playStyle">
                                <option>Casual</option>
                                <option>Competitive</option>
                                <option value="">na</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Rank</label>
                            <br />
                            <input class="text-primary img-rounded" ng-model="controller.user.rank" style="background-color:lightyellow" type="number" placeholder="...">
                        </div>
                        <div>
                            <label>Avatar</label>
                            <button type="button" ng-click="controller.pickFile()" class="btn btn-primary">Upload Image</button>
                            <img ng-src="{{controller.file.url | fpConvert:{w: 100} }}" alt="{{controller.file.title}}" />
                        </div>
                        <br />
                        <div class="form-group">
                            <button type="submit" class="btn btn-info ">Save</button>
                            <button class="btn btn-warning" ng-click="controller.cancel()">cancel</button>
                            
                        </div>
                    </form>
             
                </fieldset>

            </div>

        </div>
    </div>
</div>