<a href="/myTeam"><img style="margin-left:30px" width="170" height="86" src="../../images/back2teams (2).png"  /></a>
<br />
<div class="container">
    <div id="teamInfoContainer" class="col-lg-8 col-lg-offset-2 img-rounded">
        <div >
            <h1><strong>{{controller.teamDetails.teamName}}</strong></h1>
            <h3>Leader: <strong>{{controller.teamDetails.teamLeader}}</strong></h3>
            <h4>Playstyle: <strong>{{controller.teamDetails.playStyle}}</strong></h4>
            <br />
        </div>
        <a id="edit" ng-show="controller.teamOwner()" class="glyphicon glyphicon-pencil" href="/teamEdit/{{controller.teamDetails.id}}"></a>
        <a id="delete" ng-show="controller.teamOwner()" class="glyphicon glyphicon-remove" ng-click="controller.ModalDel()" ></a>

            <div class="innerBioContainer shadowDark img-rounded">
                <table class="table table-striped">
                        <tr>
                            <th><strong>Team</strong> Members</th>
                            <th>Rank</th>
                            
                        </tr>
                        <tr ng-repeat="member in controller.teamDetails.teamMembers">
                            <td><span ng-class="{'online-status': member.isOnline, 'offline-status': !member.isOnline}">&#x25cf; </span><a href="/profile/{{member.id}}">{{member.userName}}</a></td>
                            <td>{{member.rank}}</td>
                            
                        </tr>
                 </table>
            </div>
    </div>
</div>
