<div class="container">
    <br />
    <div class="col-lg-8 col-lg-offset-2">
        <form class="" ng-submit="controller.saveTeam()">
            <div id="feedBlock" class="img-rounded">
                <h2 id="namebox">Register Your Team</h2>
                <div id="innerText" class="form-group">
                    <label >Team Name</label>
                    <input type="text" class="form-control" ng-model="controller.teamToCreate.teamName" placeholder="Enter Team Name" />
                </div>
                <div style="display:block;" id="innerText" class="form-group">
                    <label style="display:block;" >PlayStyle </label>
                    <input type="radio" value="Casual" name="Casual" ng-model="controller.teamToCreate.playStyle" />Casual
                    <input type="radio" value="Competitive" name="Competitive" ng-model="controller.teamToCreate.playStyle" />Competitive
                </div>
                <div class="form-group ">
                    <button id="subBtn" type="submit" class="btn btn-warning btn-lg login-button">Register</button>
                </div>
            </div>
        </form>
    </div>
</div>
