
<img class="displayed" width="800" height="130" src="../../images/player123.png" />

<<div class="container">
    <div class="col-lg-10 col-lg-offset-1">
        <div class="row">
            <div class="panel panel-default filterable">
                <div class="panel-heading">
                    <h3 style="font-family:Audiowide; color:ghostwhite;" class="panel-title">Players</h3>
                    <!--<div class="pull-right">
                        <button class="btn btn-default btn-xs btn-filter"><span class="glyphicon glyphicon-filter"></span> Filter</button>
                    </div>-->
                </div>
                <div class="table-responsive">
                    <div class="container">

                        <h1>Search For <strong>Players</strong> </h1>
                        <br />
                        <div>
                            <table class="table table-striped img-rounded">
                                <thead>
                                    <tr class="filters">
                                        <th><input ng-model="controller.data.username" type="text" class="form-control" placeholder="UserName"></th>
                                        <th style="">
                                            <input style="width:75px; display:inline;"  name="quantity" min="1" max="400" ng-model="controller.data.rankFrom" type="number" id="minValue"  class="form-control" placeholder="Rank"/> - 
                                            <input style="width:75px; display:inline;" name="quantity" min="1" max="400" ng-model="controller.data.rankTo" type="number" id="maxValue"  class="form-control" placeholder="Rank" />
                                        </th>
                                        <th>
                                            <input ng-model="controller.data.onlineOnly" type="checkbox" class="form-control" placeholder="Status"/>
                                        </th>
                                        <th><select ng-model="controller.data.lookingFor" type="text" class="form-control" placeholder="Looking For..">
                                                <option value=""></option>
                                                <option >Player</option>
                                                <option >Competitive</option>
                                                <option >Casual</option>
                                            </select>
                                        </th>
                                        <th>
                                            <button class="btn btn-primary" ng-click="controller.getAllUsers()">Search</button>
                                        </th>
                                    </tr>
                                </thead>
                                <tr>
                                    <th>Username</th>
                                    <th>Rank</th>
                                    <th>Online</th>
                                    <th>Looking For</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr ng-repeat="user in controller.users">
                                    <td style="text-transform:capitalize;"><a href="/profile/{{user.id}}">{{user.userName}}</a></td>
                                    <td>{{user.rank}}</td>
                                    <td>{{user.isOnline ? "Online": "Offline"}}</td>
                                    <td>{{user.lookingFor}}</td>
                                    <td><button class="btn btn-primary btn-sm" ng-click="controller.showMessageModal(user.id)">Message</button></td>
                                    <td><button class="btn btn-default btn-sm" ng-click="controller.sendFriendRequest(user); user.isFriend = true" ng-disabled="user.isFriend">Friend Request</button></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a id="previous" class="glyphicon glyphicon-chevron-left" ng-click="controller.prevPage();"></a>
        <a id="next" class="glyphicon glyphicon-chevron-right" ng-click="controller.nextPage()"></a>
    </div>
</div>
