
<img class="displayed" width="800" height="130" src="../../images/player123.png" />
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="container">
            <h1>Search For <strong>Players</strong> </h1>
            <br />
            <label><strong>Search By Username</strong></label>
            <input ng-model="searchUser" type="text" class="text-primary img-rounded"/>
            <div>
                <form>
                    <table class="table table-striped img-rounded">
                        <tr>
                            <th>Username</th>
                            <th>Rank</th>
                            <th></th>

                            <th></th>
                        </tr>
                        <tr ng-repeat="user in controller.users | filter:{userName:searchUser}">
                            <td>{{user.userName}}</td>
                            <td>{{user.rank}}</td>
                            <td><button class="btn btn-default btn-sm" ng-click="controller.showMessageModal(user.id)">Send Message</button></td>
                            <td><button class="btn btn-default btn-sm" ng-click="controller.sendFriendRequest(user)" id="{{user.userName}}">Send friend request</button></td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>